p{
    color: rgb(9, 9, 9);height:100px;

}

 h1{
    text-align: center;
    font-size: 50px;    
    color:rgb(51, 43, 43)
 }

body{
    font-family: Arial, sans-serif;
    background-color: #715656;
    padding:20px;
}
.photo-grid{
    display: grid;
    float:center;
    grid-template-columns: repeat(4, 1fr);  
    gap: 40px;
    width:90% 
      
}
.photo-grid img {
  width: 100%;
  border-radius: 10px;
}
h1{
    text-align: center;
    size:50px;
    color: brown;
}
