p1{
    color: rgb(159, 159, 65);height:100px;
}

 p2{
    color: rgb(136, 65, 159);
}

   p3{
    color: rgb(159, 123, 65) ;
}
p4{
    color: rgb(65, 159, 74);
}

.photo-grid{
    display :grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
    max-width: 1000px;
    margin:auto;
}
.photo-grid img{
    width:100%;
    height:auto;
    border-radius:8px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding:20px;
}