body{
    background-color: rgb(108, 108, 156);
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2{
    color: rgb(14, 14, 16);

    
}   
h3{
    color: black;
    
}
h4{
    color: black;
label{
    font-size: 18px;
    margin: 10px;
    display: block;
}
input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 10px;
}
button{
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: navy;
}
img{
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    float:right;
    }

