.heading{
    color:red
    text-align:center
}
h1,h2,h3{
    color:red
    
}
button{
    background-color:green;
}
p{
    text-align:center;
    font-size:20px;
    text-transform:uppercase;
}
h1{
    text-align: center;
}
h4{
    font-size:normal;
    color:blue;
    text-align:right;
}
h2{
    font-size: 30px ;/* increased font size for h2 */
    color: green; /* changed color to green */  
    text-transform:uppercase;
}
.form-container {
    background: #298490;
    max-width: 420px;
    margin: auto; /* centers the form on the page*/
    padding: 10px;/* adds space inside the form */
    border-radius: 8px;/* rounded corners */
    height: auto;
    text-transform: capitalize;
    border: 1px solid #e2e6ea;/* light border */
    

}
img{
    width:200px;
    height:200px;
    border-radius: 50%;/* rounded corners */
    padding :30px;
    
}
#navbar {
    font-size:20px;
    color:rgb(179, 174, 174);
    background-color: black;
    border-radius: 10px;

}   
a{
    padding: 100px;
    color:#e2e6ea
}
 #yt{
font-size: 20px;
color: rgb(218, 215, 215);
background-color: black;
border-radius: 10px;
 }
button{
    border-radius: 8px;
}

