p {
    text-align: left;
    color: rgb(220, 216, 216);
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6;
}
  

body{
    background-color: rgb(45, 100, 100);
} 
h1{
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
label{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

label{
    font-size: 16px;
    color: white;
    margin-left: 20px;  
    text-align: right;
}
.travel-container{
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(70, 130, 130);
}





    